<h2 style='margin:0px;'>Send history reconstructed from database</h2>
<hr>
{% if 0 == sent %}
 <h4 style='margin:0px;'>
  Nothing sent yet
 </h4>
{% else %}
 {% for recipient in recipients %}
  {{ recipient.sent|date('Y-m-d H:i:s') }} {{ recipient.name }} &lt;{{ recipient.email }}&gt;<br/>
 {% endfor %}
 {% if done %}
 <hr>
 <h4 style='margin:0px;'>
  Job completed
  {% if unsent %}
  but {{ unsent }} email(s) not yet sent
  {% endif %}
 </h4>
 {% endif %}
{% endif %}
<div id='end_marker'/>
